@page "/profile"
@using AuthDataLayer.Models
@using SocialClubApp.StaticUtils
@using FeedsDataLayer.FeedViewModel
@inject SocialClubApp.Services.IAuthService authServ
@inject AuthenticationStateProvider authProvider
@inject NavigationManager uriHelper
@inject SocialClubApp.Services.UserService userServ
@inject SocialClubApp.Services.FilesService fileServ
@inject SocialClubApp.Services.FeedsService feedServ

<AuthorizeView>
    <Authorized>



        @if (currentUser == null)
        {
            <h4>Загружаю ...</h4>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mx-auto ">
                        <div class="card  ">

                            <img class="card-img-top img-card mx-auto avatar" src="@currentUser.AvatarPath" alt="Фото профиля" />
                            <div class="card-body">
                                <p class="card-title text-center">
                                    Профиль пользователя:
                                </p>
                                <h4 class="card-title text-center">
                                    @currentUser.Login
                                </h4>

                                <p class="card-title text-center">
                                    Имя и фамилия:
                                </p>
                                <h4 class="card-title text-center">
                                    @currentUser.Name @currentUser.Surname
                                </h4>

                                <p class="card-title text-center">
                                    Возраст:
                                </p>
                                <h4 class="card-title text-center">
                                    @currentUser.Age
                                </h4>

                                <p class="card-title text-center">
                                    Почта пользователя:
                                </p>
                                <h4 class="card-title text-center">
                                    @currentUser.Email
                                </h4>
                                <button @onclick="LogOut" class="mx-auto btn btn-outline-danger">Выйти</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto text-center">
                        <h4>Ваши записи</h4>
                    </div>
                </div>
                </div>
            <hr/>
            @if (feedsView.Count() != 0)
            {
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 mx-auto">
                            @if (feedModels != null)
                            {
                                @foreach (var feed in feedsView)
                                {

                            <div class="card">

                                <div class="card-body text-center">

                                    <div class="card-text"><h4>Заголовок записи</h4></div>
                                    <div class="card-title">@feed.Title</div>
                                    <div class="card-text"><h4>А тут новость</h4></div>
                                    <div class="card-title">@feed.Feed</div>

                                    <div class="card-text"><h4>Прикрепленные материалы:</h4></div>
                                </div>
                                <div class="col-10 mx-auto align-content-center">
                                    @foreach (var path in feed.PhotoPaths)
                                    {

                                        <img src="@path" class="newsPhoto" alt="Alternate Text" />

                                    }
                                </div>
                                <a href="#" class="btn btn-outline-dark">Комментарии</a>
                            </div>
                                    <hr/>

                                }
                            }
                        </div>
                    </div>
                </div>
             }
        }


    </Authorized>
</AuthorizeView>

@code {
    private UserModel currentUser;

    private FeedsDataLayer.Models.FeedModel[] feedModels;

    private List<FeedViewModel> feedsView = new List<FeedViewModel>();

    private async Task LogOut()
    {
        await authServ.Logout();
        uriHelper.NavigateTo("/loginControl");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        currentUser = await userServ.GetCurrentUser(authState.User.Identity.Name);

        if (currentUser == null) { await authServ.Logout(); uriHelper.NavigateTo("/loginControl"); return; }

        feedModels = await feedServ.GetFeedsByUserLogin(authState.User.Identity.Name);


      
           await GetFeeds();
        

    }

    public async Task GetFeeds()
    {

        foreach (var feed in feedModels)
        {
            var files = await fileServ.GetConnectionsFileByFeed(feed.Id);
            feedsView.Add(new FeedViewModel
            {
                Id = feed.Id,
                Feed = feed.Feed,
                Author = feed.Author,
                Title = feed.Title,
                PhotoPaths = files.Select(x=> x.Path).ToArray()
            });
        }
    }


}
